@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
margin: 0;
}


/* Shared Styles */
.display-flex{
    display: flex;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.1);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar{
   
    align-items: center;
    justify-content: space-around;
}
 .navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    color:  rgba(19, 19, 19, 1);
font-size: 3rem;
font-weight: 700;
}
.center-align{
    text-align: center;
}
.anchor{
   
    align-items: center;
    justify-content: space-between;
    gap: 20px;
font-size: 1rem;
font-weight: 500;
text-align: center;
margin-right: 50px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
     color:  rgba(66, 66, 66, 1);
}

.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.banner-title{
    color:rgba(19, 19, 19, 1);
font-size: 4rem;
font-weight: 700;

}
.banner-info{color:  rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
}
.text-primary{
    color: #FF900E;
}
.primary-btn{
    height: 64px;
    width: 180px;
    border-radius: 8px;
    border-width: 0;
    background-color: rgba(255, 144, 14, 1);
color:rgba(255, 255, 255, 1);
margin-bottom: 3rem;
font-size: 1.25em;
font-weight: 600;
}
.banner-img{
    margin-bottom: 2rem;
    width: 100%;
}
main>section{
    margin-top: 130px;
}
.teams{
    display: flex;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size:2.8rem ;
    font-weight: 700;
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
}
.fact{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
border: 1px solid rgba(255, 144, 14, 1);
border-radius: 8px;
  width: 240px;
    height: 240px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}

/* responsive area */
@media screen and (max-width: 576px) {
   
  .brand{
    font-size: 2rem;
  }
  .anchor{
    flex-direction: column;
    text-align: center;
  }
    .navbar , .nav-link{
    flex-direction: column;

   }
   .banner-title{
    font-size: 2rem;
   }
   .features{
    margin-left: 20px;
   
}
   .teams{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
}
   .team-img-container{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    
}

  
}

/* Medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
     .navbar , 
     .nav-link,
     .teams{
    flex-direction: column;

   }
   .anchor{
     flex-direction: column;
    text-align: center;
    margin-right: 50px;
   }
   .features{
    margin-left: 50px auto;
   
}
 .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
}